<h1>Welcome to ReviewHub</h1>
<p>Share your reviews and explore others' thoughts!</p>
<a href="/User/Login" class="btn btn-primary">Login</a>
<a href="/User/Signup" class="btn btn-secondary">Signup</a>
